main {
  background-color: #fafafa;
}

.center {
  margin: 0 auto;
}

.nav-hurley {
  margin: auto 10%;
}

nav > .navbar-resize > img {
  width: 12% !important;
  margin: 0 2%;
}

.carousel {
  width: 70%;
  margin: 0 auto;
}

.carousel-resize-img {
  width: 85%;
}

.logo-img__landing {
  border-radius: 74px;
  padding: 24px;
  filter: invert(1);
}

.logo-h3__landing {
  width: 34%;
  padding: 1%;
  color: #dc3545;
  background: white;
  margin: 1% auto;
  border-radius: 35px;
}

.surf-pic {
  width: 100%;
}

.center-col-6 {
  margin: auto;
}

.anchor-button {
  text-decoration: none;
}

.font-weight-bold {
  font-weight: bold;
}

.nav-link {
  background: #dc3545;
  color: white !important;
}

.nav-link:hover {
  color: #fff !important;
  background: black;
}

#btn-checkout:hover {
  background: black;
  color: white;
}

table {
  max-width: 600px;
  padding: 26px;
  width: 100%;
  background: black;
  color: white;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 2%;
}

th {
  background: #dc3545;
}

.form-div {
  background: #fffabe;
  padding: 1%;
}

form {
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  max-width: 650px;
  margin: 0 auto;
  padding: 2%;
  background-color: black;
  color: white;
  border-radius: 20px;
}

footer {
  background: #dc3545;
  color: white;
  padding: 1%;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .carousel {
    width: 100%;
  }
  .logo-img__landing {
    display: none;
  }
  .logo-h3__landing {
    width: 50%;
    padding: 3%;
  }
  .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y)
      var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
  }
}

@media screen and (min-width: 1440px) {
  /*   .logo-img__landing {
    left: 20%;
  } */
}
